@import "~antd/es/table/style/index.css";
@import "~antd/es/empty/style/index.css";
@import "~antd/es/radio/style/index.css";
@import "~antd/es/checkbox/style/index.css";
@import "~antd/es/dropdown/style/index.css";
@import "~antd/es/spin/style/index.css";
@import "~antd/es/pagination/style/index.css";

.widget-dynamictable-wrapper {
    .size-box-inner {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ant-table-thead {
        .ant-table-selection-column {
            .ant-checkbox-input {
                display:none;
            }
        }
    }

    .ant-table-tbody {
        > tr.ant-table-row-selected td {
            background: #d4d4d4;
        }
        .ant-table-selection-column {
            .ant-radio-input {
                display:none;
            }
            .ant-checkbox-input {
                display:none;
            }
        }
    }
    &.hide-selectboxes {
        .ant-table-selection-col {
            width: 0!important;
        }
        .ant-table-selection-column {
            padding: 0!important;
            .ant-table-header-column {
                display: none;
            }
        }
        .ant-table-tbody {
            .ant-table-selection-column {
                padding: 0!important;
                * {
                    display: none;
                }
            }
        }
        .ant-table-row-selected {

        }
    }
    .ant-table-row-expand-icon {
        line-height: 16px;
    }

    .ant-table-cell-with-icon {
        display: inline-block;
        position: relative;
        padding-left: 18px;
        .ant-table-cell-icon.glyphicon {
            position: absolute;
            left: 0;
            top: 4px;
        }
    }

    .widget-dynamictable-buttonbar {
        margin-bottom: 6px;
    }

    .first-column {
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // max-width: 100%;
        // display: block;
        // .cell {
        //     display: inline-block;
        //     max-width: calc(100%);
        //     overflow: hidden;
        // }

    }

    .cell {
        &.type--emptycell {
            width: 100%;
            display: block;
        }
        &.type--row {
            display: inline-block;
        }
    }

    .empty--title {
        width: 100%;
        display: block;
    }

}
